@charset "utf-8";
/* CSS Document */



body {
  margin: 0;
}

select{
    width: 100%;
    border: medium none;
    font-size: 1.7rem;
    background: none repeat 0 0 transparent;
}


#page{
    /*padding: 40px 15px;*/
}

a{
    text-decoration: none;
}

#home, #new-game, #current-game, #calculation-game, #about, #rules{
    background-color: #FFFFFF;
    color: #000000;
}

#settings{
    background-color: #2C353B;
    color: #FFF;
}



#home ul li a p{
    /*font-size: 1.6rem;*/
}

#Tableau
{
	background-color:#968552;
	position:absolute;
	top:0%;
	left:50%;
}

.error{
    color:#ff0000;
    text-align:center;
}


#list-games{
}

.game-date{
    font-size: 1.3rem;
    /*display: block;*/
    color: #777777;
}

.main-scroll{
    overflow-y: auto;
    height: calc(100% - 5rem);
}

form {
    margin: 1rem 1rem 1rem;
}

form ol li{
    margin:5px 0;
}

li.allday > label {
    height: 100%;
    width: 100%;
}

li.allday > label > span:after {
    right: 0;
    left: auto;
}


input{
    border:0px none;
}


#rules{

}




#settings ul{
}

#settings ul li{
    width: 100%;
    border-bottom: 0.1rem solid #596068;
    margin:0px;
}

#settings ul li:last-child{
    border-bottom: none;
}

#settings ul li a p{
    color: #FFF;
    text-decoration: none;
    font-size:1.6rem;

}

#settings ul li a:hover{
    cursor: default;
}

#settings ul li a:visited{
    color: #FFF;
    text-decoration: none;
}


#rules div{
    margin:1rem;
}



#rules p{
    font-size: 1.6rem;
}

#about p{
    font-size:1.6rem;
}

h3{
    font-size: 1.8rem;
    color: #000000;
}

.credit-title{
    display: block;
    font-size: 2.2rem;
    margin-bottom: 1rem;
}

.credit-sub{
    font-size:1.4rem;
    color:#000000;
    text-decoration: underline;
}

#about-rules{
    text-align: justify;
    margin: 1rem 1rem 1rem;
}

#about-credit{
    margin: 1rem 1rem 1rem;
    text-align: center;
}

.it{
    font-style: italic;
}


/* cancel section[role="region"] default properties */
section[role="region"]:not(#drawer) {
    transition: none 0s ease 0s;
    left: 0;
    z-index: 0;
    padding-left: 0;
}

#settings > header:first-child{
    background-color: #2C353B;
}

#about > header:first-child{
    background-color: #2C353B;
}

#rules > header:first-child{
    background-color: #2C353B;
}

section[role="region"][data-position="right"] {
    position: absolute;
}

section[role="region"][data-position="left"] {
    position: absolute;
}

[data-position="right"]{
    position: absolute;
    left: 0;
    top: 0;
    right:0;
    bottom:0;
    /*z-index: 100;*/
    transform: translateX(100%);
}
