@charset "utf-8";
/* CSS Document */



body {
  margin: 0;
}


#page{
    padding: 40px 15px;
}



#Tableau
{
	background-color:#968552;
	position:absolute;
	top:0%;
	left:50%;
}


#list-games{
}

#new-game{

}

#rules{

}


#about{
}


