@charset "utf-8";
/* CSS Document */



body {
  margin: 0;
}


#page{
    /*padding: 40px 15px;*/
}

a{
    text-decoration: none;
}



#Tableau
{
	background-color:#968552;
	position:absolute;
	top:0%;
	left:50%;
}

.error{
    color:#ff0000;
    text-align:center;
}


#list-games{
}

.main-scroll{
    overflow-y: auto;
    height: calc(100% - 5rem);
}

form ol{
    margin: 1rem 1rem 1rem;
}

form ol li{
    margin:5px 0;
}

input{
    border:0px none;
}


#rules{

}


#about{
}


#settings{
    background-color: #2C353B;
    color: #FFF;
}

#settings ul{
    padding: 0px 3rem;
}

#settings li{
    width: 100%;
}

#settings ul li a{
    color: #FFF;
    text-decoration: none;
}

#settings ul li a:hover{
    cursor: default;;
}

#settings ul li a:visited{
    color: #FFF;
    text-decoration: none;
}